# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

!data/treino/.gitkeep
!data/teste/.gitkeep

# Arquivos de sistema
.DS_Store
Thumbs.db

# Secrets
.env

# Resultados temporários
*.log